* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #647687ff, #bac8d3ff);
}

.login-form, .register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-button, .register-button{
  background-color:#31394d;
  color: white;
  font-size: 16px;
}

.problem-container, .auth-form-container, .topics-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #647687ff, #bac8d3ff);
}

.prob-check-button{
  margin-left: 10px;
  background-color:#31394d;
  color: white;
}

.loginTitle, .registerTitle, .problemTitle, .problemText, .topicsTitle{
  color: #31394d;
}

.problemText{
  background-color: #bac8d3ff;
  padding: 30px;
  border-radius: 30px;
  margin-bottom: 10px;
}

.problemTitle{
  margin-bottom: 10px;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 20px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.link-btn {
  background: none;
  text-decoration: underline;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nav {
  font-size: 2rem;
  background-color: #647687;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.site-title {
  font-size: 3rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a, .topics-list a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;

}

.nav li.active {
  text-decoration: underline;
}


.topics-list li {
  background-color: white;
  border: 2px solid #31394d;
  border-radius: 30px;
  padding: 2rem;
}

li:hover {
  background-color: #BAC8D3;
}